body {
    font-size: 16px;
    background:peachpuff;
    overflow-x: hidden;
}

.video-class{
    align-self: center;
    justify-self: center;
}
section{
    align-self: center;
    justify-self: center;
}

h2{
    align-self: center;
    justify-self:center;
}


section>button{
    
    width: 10rem;
    height: 5rem;
    border: 0;
    border-radius:1rem;
    font-size:2rem;
}
section>button:active{
    background:pink;
}

#No-button{
    width:9rem;
    background: red;
    align-self:center;
    justify-self:center 
}
#yes-btn{
    align-self: center;
    justify-self: center;
    background:green;
}

#choice{
     display :none;
}

#choice{
    background: green;
    width:20rem;
    height:10rem;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}

#main-vid{
    
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    padding-inline: 2rem;
}

#text{
    align-self:center;
    justify-self: center;
    padding:0;
    
}

.heart-class{
    padding:3rem;
}

.heart {
  width: 60px;
  height: 60px;
  background: crimson;
  position: relative;
  transform: rotate(-45deg) scale(1);
  animation: pulse 1.2s infinite ease-in-out;
  cursor: pointer;
  transition: transform 0.9s ease;
  align-self: center;
  justify-self: center;
  display:none;
}

.heart::before,
.heart::after {
  content: '';
  width: 60px;
  height: 60px;
  background: crimson;
  border-radius: 50%;
  position: absolute;
  
}

.heart::before {
  top: -30px;
  left: 0;
}

.heart::after {
  left: 30px;
  top: 0;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(var(--scale, 1));
  }
  50% {
    transform: rotate(-45deg) scale(calc(var(--scale, 1) * 1.1));
  }
  100% {
    transform: rotate(-45deg) scale(var(--scale, 1));
  }
}